
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reiniciando estilos */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body */
body {

   
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

/* Carrusel */
.carousel-inner {

    max-height: 39rem;
}

/* Section-1 */

@media (max-widht:768px) {

    #Section-1 { width: 90%; !important}
}

#Section-1 { 
    gap: 100px;
}