
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reiniciando estilos */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body */
body {

    background-color: rgb(224, 224, 248);
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

/* Carrusel */
.carousel-inner {

    max-height: 39rem;
}

/* Section-1 */

@media (max-widht:768px) {

    #Section-1 { width: 90%; !important margin-top: 100px; margin-bottom: 100px;}
}

#Section-1 { margin-top: 0px; margin-bottom: 80px;}

#Trabajos { margin-top: 100px; margin-bottom: 100px;}

#Más-Proyectos { 
    margin-top: 150px;
    margin-bottom: 150px;
}

#Redes-Sociales { 
    margin-top: 100px;
    margin-bottom: 100px;
}

